__pycache__/
*.pyc
.vscode/
logs/
*.log
.apptainer/
.npm/
.local/
*.db
*.db-shm
*.db-wal
run_dir/
output/
*.sif
*.img
config.env
.credentials.json
**/.credentials.json
claude_config/
**/claude_config/
.claude/
claude_code/.config/
claude_code/archive
!claude_code/.claude
!claude_code/.claude/settings.local.json
!claude_code/CLAUDE.md
.nfs*
archive/